<form>
  <input type="button" value="Go back!" onclick="history.back()" class="btn btn-dark">
</form>

<div class="container language-show">
  <h1 class="half-highlight"><%= @language.name.downcase %></h1>
  <h2>ready to level up your coding game?</h2>
  <h3>here are the courses to take for <%= @language.name.downcase %>:</h3>

  <table>
    <tr>
      <th>name</th>
      <th>status</th>
      <% @courses.each_with_index do |course, index| %>
        <% if @user_courses.find_by(course: course) != nil%>
          <th>completed</th>
          <th></th>
        <% else %>
          <th></th>
        <% end %>
      <% end %>
    </tr>
      <% if @courses == nil %>
        <p>No courses added yet! Want to contribute by adding one to Beast mode?</p>
      <% else %>
        <% @courses.each_with_index do |course, index| %>
          <tr>
            <td><strong><%= index + 1 %></strong</td>
            <td><%= link_to course.name, course.link %></td>
            <% user_taking_course = @user_courses.find_by(course: course) %>
            <% if user_taking_course != nil %>
              <% if user_taking_course.completed %>
                <td><%= image_tag "https://image.flaticon.com/icons/svg/463/463574.svg" %></td>
              <% else %>
                <td><%= image_tag 'https://image.flaticon.com/icons/svg/463/463612.svg' %></td>
              <% end %>
              <td><%= link_to 'update', edit_taking_course_path(user_taking_course) %></td>
            <% else %>
              <td>
                <%= course.id %>
                <%= simple_form_for(@taking_course) do |f| %>
                  <%= f.input :course, as: :hidden, input_html: { value: course.id }  %>
                  <%= f.button :submit, 'Add course to library', class: 'btn btn-primary' %>
                <% end %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
  </table>

  <%= link_to "Add a new course to Beast mode", new_course_path, class: 'btn btn-dark my-4' %>
</div>

