<div class="sidenav" style="background-color:rgb(241, 199,151);">
  <%# User profile link %>
  <%= link_to user_path(current_user) do %>
      <img src="<%= current_user.avatar %>%" alt="User avatar" class="avatar avatar-small shadow">
      <small>my profile</small>
  <% end %>

  <%= link_to "versus", versus_path %>

  <%# Languages index page link %>
  <%= link_to "languages", languages_path %>
  <%# Language show page links %>
  <div class="language-show-links">
    <% Language.all.each do |language| %>
      <%= link_to language.name.downcase, language_path(language) %>
    <% end %>
  </div>

  <%# Sign out link %>
  <%= link_to "sign out", destroy_user_session_path, method: :delete, id:'sign-out' %>
</div>