<div class="container d-flex justify-content-center align-items-center flex-column">
  <h1>welcome, <%= current_user.username %>.beast</h1>

  <div class="players d-flex">
    <div class="player d-flex justify-content-center align-items-center">
      <div class="player-name">
        <h2><%=current_user.username %>.beast_mode_on</h2>
      </div>
      <%= render 'shared/curriculum'%>
    </div>

    <div class="versus-word">
      <p>versus</p>
    </div>

    <div class="player d-flex justify-content-center align-items-center">
      <div class="player-name">
        <h2><%=@other_user[0].username %>.beast_mode_on</h2>
      </div>
      <%= render 'shared/curriculum_other'%>
    </div>
    
  </div>
</div>