<div class="container d-flex justify-content-center align-items-center flex-column">
  <h1 class="half-highlight">welcome back, <%= current_user.username %></h1>

  <div class="players d-flex">
    <div class="player d-flex justify-content-between align-items-center">
      <div class="player-name">
        <%= image_tag current_user.avatar, class:'avatar avatar-medium shadow' %>
        <h2><%= link_to current_user.username, user_path(current_user) %></h2>
      </div>
      <%= render 'shared/curriculum'%>
    </div>

    <div class="versus-word">
      <p>versus</p>
    </div>

    <div class="player d-flex justify-content-between align-items-center">
      <div class="player-name">
        <%= image_tag @other_user[0].avatar, class:'avatar avatar-medium shadow' %>
        <h2><%= link_to @other_user[0].username, user_path(@other_user[0]) %></h2>
      </div>
      <%= render 'shared/curriculum_other'%>
    </div>
    
  </div>
</div>