<!DOCTYPE html>
<html>
  <head>
    <title>BeastMode - Level up your coding skills</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag 'https://image.flaticon.com/icons/svg/2966/2966054.svg' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="navbar-color">
      <%= render 'shared/navbar' %>
    </div>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
